{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<div class="dashboard">
    <div class="card" style="max-width: 420px; margin: 60px auto;">

        <h1>Créer un compte</h1>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mb-4">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mb-4">{{ message }}</div>
        {% endfor %}

        <form method="post">

            <div class="mb-4">
                <label class="label">Nom</label>
                <input type="text" name="last_name" class="form-control" required>
            </div>

            <div class="mb-4">
                <label class="label">Prénom</label>
                <input type="text" name="first_name" class="form-control" required>
            </div>

            <div class="mb-4">
                <label class="label">Mot de passe</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button class="btn btn-primary btn-lg w-100">
                Créer le compte
            </button>
        </form>

        <hr>

        <a href="{{ path('app_login') }}" class="btn btn-secondary w-100">
            Retour à la connexion
        </a>

    </div>
</div>
{% endblock %}
