{% extends 'base.html.twig' %}

{% block title %}Poste index{% endblock %}

{% block body %}
<div class="dashboard">
    <div class="top-bar">
        <h1>Postes</h1>
        <a href="{{ path('app_poste_new') }}" class="btn-add">+ Nouveau Postes</a>
    </div>
    {% for poste in postes %}
        <div class="posts-list">
            <a href="{{ path('app_poste_show', {'id': poste.id}) }}" class="post-link">
                <div class="form-check-label">
                    <div class="post-card">
                        {{ poste.libelle }}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}

