{% extends 'base.html.twig' %}

{% block title %}Formats d'étapes{% endblock %}

{% block body %}
<div class="dashboard">
    <div class="top-bar">
        <h1>Formats d'étapes</h1>
        <a href="{{ path('app_etape_format_new') }}" class="btn-add">
            + Nouvelle étape de format
        </a>
    </div>

    <div class="white-table">
        <div class="white-table-header">
            <div>Type</div>
        </div>

        {% for etape_format in etape_formats %}
            <div class="white-table-row">
                <div class="white-table-cell">
                    {{ etape_format.libelle }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
