name: Déploiement Symfony

on:
  pull_request:
    types: [closed]  # déclenchement à la fermeture d'une PR
    branches:
      - main

jobs:
  deploy:
    if: github.event.pull_request.merged == true  # ne se lance que si la PR est mergée
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Déployer sur le serveur
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/html/batipilot || exit
            git pull origin main
            composer install --no-dev --optimize-autoloader
            # php bin/console doctrine:migrations:migrate --no-interaction
            php bin/console cache:clear
            # chown et chmod si nécessaire
